html{margin:0 auto; padding:0; }
body{margin:auto; padding:0;} 

#nav {height:34px;
      width:100%;
	  background-image:url(images/guide.jpg);
	 margin:0 auto;
    }
	   
#nav ul { list-style: none; margin-left: 450px; margin-top:-20px; padding: 0px;}
#nav ul li {
	float:left;
	padding: 0px 20px;
	height: 34px;
	line-height: 34px;
	color: #ffffff;
	font-size: 24px;
}
.registered.label{
	font-family:Verdana, Geneva, sans-serif;
	font-size:24px;
	}
	
.registered.table{
	font-family:Verdana, Geneva, sans-serif;
	font-size:24px;}
.registered.input{ 
width:100px; 
height:20px; 
} 
</style> 
	
	
	
	
	
	
	}
a:link {
	color: #ffffff;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #ffffff;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
)

.bkuang {
	border: 1px solid # #ffffff;
}
.hangju5px {
	font-size: 5px;
}
a:link {
	color:010101;
	text-decoration: none;
	font-family: "宋体";
}
a:visited {
	font-family: "宋体";
	color:#ffff;
	text-decoration: none;
}
a:hover {
	font-family: "宋体";
	color: #FF9900;
	text-decoration: none;
}
a:active {
	font-family: "宋体";
	color: 010101;
	text-decoration: none;
}
.line {
	border: 1px solid #CCCCCC;
}
.diwen {
	font-family: "宋体";
	font-size: 12px;
	color: #FFFFFF;
	background-color: #FE019A;
	border: 1px none #000000;
}

a img{ border:none;}


