<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Rainbow</display-name>
   
    <!-- *****************************userError***************************** -->
  <filter>
  	<filter-name>userError</filter-name>
  	<filter-class>com.rainbow.filter.UserError</filter-class>
  	<init-param>  
        <param-name>logonStrings</param-name><!-- 对登录页面不进行过滤 -->  
        <param-value>/developer/index.jsp;/developer/login.jsp;/developer/loginTimeOut.jsp;/developer/brwserError.jsp</param-value>  
    </init-param>
    <init-param>  
        <param-name>includeStrings</param-name><!-- 只对指定过滤参数后缀进行过滤 -->  
        <param-value>.action;.jsp</param-value>  
    </init-param> 
  </filter>
  <filter-mapping>
  	<filter-name>userError</filter-name>
  	<url-pattern>/developer/*</url-pattern>
  </filter-mapping>
<!-- *****************************userError end***************************** -->

<!-- *****************************adminError***************************** -->
  <filter>
  	<filter-name>adminError</filter-name>
  	<filter-class>com.rainbow.filter.AdminError</filter-class>
  	<init-param>  
        <param-name>logonStrings</param-name><!-- 对登录页面不进行过滤 -->  
        <param-value>/SuperAdmin/index.jsp;login_admin.action;login_admin;/SuperAdmin/login.jsp;/SuperAdmin/loginTimeOut.jsp;</param-value>  
    </init-param>
    <init-param>  
        <param-name>includeStrings</param-name><!-- 只对指定过滤参数后缀进行过滤 -->  
        <param-value>.action;.jsp</param-value>  
    </init-param> 
  </filter>
  <filter-mapping>
  	<filter-name>adminError</filter-name>
  	<url-pattern>/SuperAdmin/*</url-pattern>
  </filter-mapping>
<!-- *****************************adminError end***************************** -->
  <filter>
    <filter-name>SprintOpenEntityManagerInViewFilter</filter-name>
    <filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SprintOpenEntityManagerInViewFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
 
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
 
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
</web-app>